body {
    background-color: #F2EDEA !important;
    color: #595049 !important;
    font-family: 'Ubuntu', sans-serif !important;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

h1 { padding: 2em 0; }

.converter-form {
    border: 1px solid #595049 !important;
    box-shadow: none !important;
    color: #0B86D4 !important;
}

.converter-arrow { top: 2.5em !important; }

@media screen and (max-width: 768px) {
    body { padding: 2em; }
    h1 { padding: 1em 0; }
}
